<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shengyuan.beadhouse">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name=".BHApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".gui.activity.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 注册界面-->
        <activity
            android:name=".gui.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- 登录界面-->
        <activity
            android:name=".gui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- 找回密码获取验证码界面-->
        <activity
            android:name=".gui.activity.FindBackPwdGetCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- 设置新密码界面-->
        <activity
            android:name=".gui.activity.SetNewPwdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- 个人中心界面-->
        <activity
            android:name=".gui.activity.PersonalCenterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- 绑定手机界面-->
        <activity
            android:name=".gui.activity.BindPhoneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- 填写真实信息界面-->
        <activity
            android:name=".gui.activity.TrueInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- 修改密码界面-->
        <activity
            android:name=".gui.activity.ModifyPwdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- 老人账户列表界面-->
        <activity
            android:name=".gui.activity.OldManAccountListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- 老人账户详情界面-->
        <activity
            android:name=".gui.activity.OldManAccountDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- 生理数据界面-->
        <activity
            android:name=".gui.activity.PhysiologyDataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- 监护人界面-->
        <activity
            android:name=".gui.activity.GuardianActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- 老人资料卡详情-->
        <activity
            android:name=".gui.activity.OldManDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- 照护套餐列表界面-->
        <activity
            android:name=".gui.activity.CarePackageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- 系统设置界面-->
        <activity
            android:name=".gui.activity.SystemSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- 我的优惠券界面-->
        <activity
            android:name=".gui.activity.MyCouponActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- 网页界面-->
        <activity
            android:name=".gui.activity.WebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- 订单中心网页界面-->
        <activity
            android:name=".gui.activity.OrderCenterWebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- 关于我们界面-->
        <activity
            android:name=".gui.activity.AboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- 弹token过期需登录的界面-->
        <activity
            android:name=".gui.activity.HandleTokenExpiredActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

    </application>

</manifest>